* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); */
  background-color: rgb(255, 135, 158); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #3f3f3f;
  width: 100%;
}
